In [42]:
import mysql.connector
import pandas
import os
from sklearn.utils import shuffle
import random
import operator

In [43]:
con=mysql.connector.connect(user="",password="",host="localhost",database="chatbot_mcq")

In [44]:
cursor=con.cursor()

In [45]:
# query="select * from questions"
# results=pandas.read_sql_query(query,con)

In [46]:
# results.to_csv("Output.csv",index=False)

In [47]:
sub_query="select subject_name from Subjects"
get_subjects=pandas.read_sql_query(sub_query,con)

select id from subjects table based on subject name
select columns from questions table based on id and generate csv files with "Subject name_file"

In [48]:
for i in get_subjects.iloc[:,0]:
    get_id=pandas.read_sql_query("select id from subjects where subject_name = '"+i+"' ",con)
    ques= pandas.read_sql_query("SELECT id,exam,subject,question,answer_a,answer_b,answer_c,answer_d,answer_e,correct FROM QUESTIONS WHERE SUBJECT = %d" %get_id.iloc[:,0],con)
    ques.to_csv(str(i)+".csv",index=False)
    print(ques.head())

   id  exam  subject       question     answer_a        answer_b  \
0   2     1        1  ddsfsdfsdfsdf         test  test 2dfgdfgdf
1   4     1        1     gdfgdfgdfg       vxvxcv         xcvxcvx
2   5     1        1         dsdfsf  sdfsdfdfsdf         sdfsdfs
3   6     1        1    gdfgdgdfgfd       fdfsdf       fsdfsdfds
4   7     1        1         zdfsdf        dfsdf          dsfsdf

       answer_c         answer_d          answer_e correct
0  test 3fgdgdf  test 4 dfgdfgdf  test 5 dfgdfgdfg       a
1       cvxcvcx           cvxvxc          xcvxcvxc       b
2      sdfsdfsd         sdfsdfds          dsfsdfsd       b
3         dfsdf            dfsdf           dfsdfsd       a
4        sdfsdf            sdfsf            sdfsdf       a
   id  exam  subject question   answer_a   answer_b  answer_c   answer_d  \
0   1     2        2   dsfsdf     sdfsdf     sdfdsf    sdfsdf     dsfsdf
1   3     1        2  dfdfdsf  sdfsdfsdf  sdfsdfsdf  sdfsdfsd  dsfsdfsdf
2   9     1        2     hgjg       jasg     jhjdsj   jdshjdf    jsdfhsd

    answer_e correct
0  dfsfsdfds       a
1  dsfsdfsdf       b
2     jsdfhs       a
Empty DataFrame
Columns: [id, exam, subject, question, answer_a, answer_b, answer_c, answer_d, answer_e, correct]
Index: []
Empty DataFrame
Columns: [id, exam, subject, question, answer_a, answer_b, answer_c, answer_d, answer_e, correct]
Index: []
Empty DataFrame
Columns: [id, exam, subject, question, answer_a, answer_b, answer_c, answer_d, answer_e, correct]
Index: []

To get subject names list from the location

In [49]:
path='C:\\Users\\reema save\\Downloads\\chatbot'
new_table_list=[]
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        new_table_list.append(filename.split(".")[0])

Displaying subject list and taking input

In [50]:
print(new_table_list)
subject_input=input("Enter subject")

['Biology', 'Chemistry', 'History 1', 'Mathematics', 'Physics']
Enter subjectbiology

Accessing csv files from the location and selecting required columns shuffling the rows and options from selected subject csv

In [54]:
user_Info=pandas.DataFrame
# for i in new_table_list:
user_Info = pandas.read_csv('C:\\Users\\reema save\\Downloads\\chatbot\\'+subject_input+'.csv',
                                usecols=['question','answer_a','answer_b','answer_c','answer_d','answer_e','correct'])
ques_set=shuffle(user_Info)
    
cols = ques_set.columns.tolist()        
corr_ans=cols[-1]
ques=cols[0]
    
cols=shuffle(cols[-2:-1]+cols[1:5])

ques_set_ques=ques_set[ques_set.columns[0]].to_frame(name="question")#without to frame also it works
ques_set_ans=ques_set[ques_set.columns[-1]].to_frame(name="correct")#without to frame also it works

#     #type(ques_set)



frame=[ques_set_ques,ques_set[cols],ques_set_ans]

ques_set=pandas.concat(frame,axis=1)
    
# if(i==subject_input):
#     break
ques_set.head(5)
#     print(str(ques_set)+"/n############################################################333/n")

Empty DataFrame
Columns: [question, answer_c, answer_b, answer_a, answer_d, answer_e, correct]
Index: []

In [53]:
ques_set.head(5)

Empty DataFrame
Columns: [question, answer_d, answer_e, answer_a, answer_c, answer_b, correct]
Index: []